
@{
    ViewBag.Title = "SearchView";
    Layout = "~/Views/Shared/_AirLineUserSide.cshtml";
}

<div class="inner_page_about  mb-5">
</div>
<div class="container ">
    <div class="row" style="margin: 40px 0px 400px 0px">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="FromSearchInfo"></div>

        </div>
        <div class="col-md-4">
            <div class="ToSearchInfo"></div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" id="btn_Save" onclick="Search();"><i class="fa fa-search"><strong>  Search</strong></i></button>
        </div>
    </div>

    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <script src="~/Scripts/CustomJavascript/Search.js"></script>
</div>



