
@{
    ViewBag.Title = "ReservationAndFlightDetailView";
    
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Horizontal form</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Search Reservation</h2>
                                <label>Reservation Code</label>
                                <input id="ReservationCode" class="form-control" />
                                <button class="btn btn-primary float-right mt-2"><i class="fa fa-search"><strong>Search</strong></i></button>
                            </div>
                            <div class="col-md-6">
                                <h2>Flight Details</h2>
                                <div class="row">
                                    <div class="RouteInfo"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>AirLine</label>
                                        <div class="AirLineInfo"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Date</label>
                                        <input id="Date" type="date" class="form-control" />
                                    </div>
                                </div>
                                <button class="btn btn-primary float-right mt-2"><i class="fa fa-search"><strong>Flight Details</strong></i></button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/CustomJavascript/SearchReservation.js"></script>
</div>
